*{
    margin: 0;
    padding: 0;
}
body{
    background-color:whitesmoke;
		
    font-family: 'Open Sans', sans-serif;
      
   
  
        }

        main{

            background-color:white ;
        }
        .container{
                width: 60%;
                margin: 0 auto;
                background-color: white;
                border:3px solid gray;
             
              
    
        }
        em{
            color:darkblue;
            font-size: 20x;
        }
        header{

         
            background-color:#EFEBCE
      
         
        }

        h1{
            font-family: 'tangerine' , serif;
            font-size: 250%;
            color: rgb(60, 107, 107);
            text-shadow: 4px  4px 4px rgb(172, 131, 131);
           margin-left: 1%;
          display: inline;
          padding: 1px 1px 1px;
        }

        h2{ font-family: 'Lobster', cursive;
            font-size: 180%;
            color:darkslategray;
            margin-left: 2%;
            top: 2em;

                }
    
     header h2{
     
         margin-right: 2%;
         display: inline;
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri
         
         
     }
     

        img{
            margin-right: 2%;
            padding: 7px;
            float:right;
          
        }
        a{
            margin-left: 2%;
        }
        .project{
background-color:#D6CE93;

margin-bottom: 3%;
 }

 h3{font-family: 'Lobster', cursive;
    font-size: 100;
    margin-left: 2%;
    top: 2em;



 }
 p{
     margin-left: 2%;
     padding: 1%  2%  1%  2%;
  font-family: 'Times New Roman', Times, serif;
  font-size:20px;
     clear: left;
     color: darkcyan;
   
 }
 

 footer{
    font-size: 15px;
    background-color:#A3A380;
    clear: both;
    margin-top: 2%;
    padding: .5%  2%  1%  2%;


}




footer ul li{
    list-style-type: none;
    display: inline;
   
   
}
.fa-twitter {
    background:purple;
    color: white;
}
.fa-facebook {
    background:purple;
    color: white;
   
}
footer a{
    padding-left: 1%;
    color:rgb(143, 44, 31);
    text-decoration:none;
   
  
 
  
}
        

        